.navbar {
  display: center;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a; /* dark navy */
  padding: 1rem 2rem;
  color: #22b0ff;
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  text-align: center;
  align-items: center;
}

.link:hover {
  color: #60fa9b; /* light green */
}
